# Python Series, ATA-1.

## 1. Variables in Python

In [6]:
x=22
print(x)

22

In [8]:
## checking the data type of a variable
type(x)

int

In [16]:
## Assigning multiple values to multiple variables
x,y,z = 'Cholate', 'Vanilla', 'Rocky Road'
print(x)
print(y)
print(z)

Cholate
Vanilla
Rocky Road

In [18]:
## Assigning one value multiple variables
x = y = z = 'Hot Chocolate'
print(x)
print(y)
print(z)

Hot Chocolate
Hot Chocolate
Hot Chocolate

In [20]:
## Assigning a list to a variable
ice_cream = ['Cholate', 'Vanilla', 'Rocky Road']  

## We can also assign multiple varibles to list, or to the values in a list. 
## In this case, the values inside the list should be equal to the number of the variables we are assigning

x,y,z = ice_cream
print(x)
print(y)
print(z)

Cholate
Vanilla
Rocky Road

In [28]:
## Outputing multiple string variables in the print statement, using '+'
x = 'Ice cream'
y = ' is my'
z = ' favorite'
print(x+y+z)

Ice cream is my favorite

In [26]:
## Outputing multiple int variables in the print statement, using '+'
x = 2
y = 4
z = 1
print(x+y+z)

7

## 2. Data Types in Python

#### List data type

In [37]:
## Adding extra data to a list using 'append'
ice_cream = ['Cholate', 'Vanilla', 'Rocky Road']  
ice_cream.append('Caramel')
ice_cream

['Cholate', 'Vanilla', 'Rocky Road', 'Caramel']

In [39]:
## Accessing and changing the data stored in a particular index of a list
ice_cream[0] = 'Butter Pecan'
ice_cream

['Butter Pecan', 'Vanilla', 'Rocky Road', 'Caramel']

In [41]:
## Creating a nested list with diff data types
nested_list = ['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [45]:
## Accessing a list 
nested_list[2]

['Scoops', 'Spoon']

In [47]:
## Accessing the index of a list in a list
nested_list[2][1]

'Spoon'

#### Tuples data type
A list and a tuple are quite similar, the only diff is that a Tuple is 'Immutable'. That is,
a Tuple cannot be modified or changed after it has been created. And Tuples are created using '( )' 
instead of '[ ]'. We can access tuples but not add to it or try to change a member of the tuple after it's been created. 
Tuples are typically used when the data contained in them cannot change. Example of such data include something like city names, country name, etc.

In [57]:
## Creating a Tuple
tuple_scoops = (1,2,3,2,1)

In [59]:
type(tuple_scoops)

tuple

In [61]:
## Accessing a Tuple
tuple_scoops[1]

2

#### Sets data type
A set is somewhat similar to a list and tuple, but they are a diff in that they don't have any duplicate element. 
The members of a set cannot be repeated when using 'print' function; Only the distinct members will be printed, and they cannot be accessed using indexing because it doesn't have an index. It is an unordered list.
We can loop through a set but cannot access the elements individually. Note that,
Sets are created using '{ }'. A typical use case of sets is when comparing diff sets.

In [76]:
## Creating a set
daily_pints = {1,2,3}

In [78]:
type(daily_pints)

set

In [84]:
## Demonstrating that sets return only the distinct members of the set
daily_pints_logs = {1,2,3,32,4,13,2,4,1,3}

print(daily_pints_logs)

{32, 1, 2, 3, 4, 13}

In [86]:
other_pints_logs = {1,2,43,54,7,9,0,4,23,81}

In [90]:
## Typical use case - Comparing two sets together
## The '|' is used to combine two sets together and see their unique values.

print(daily_pints_logs | other_pints_logs)

{0, 1, 2, 3, 4, 7, 9, 13, 81, 23, 32, 43, 54}

In [96]:
## The '&' is used to see what matches, or what is common between two sets.

print(daily_pints_logs & other_pints_logs)

{1, 2, 4}

In [102]:
## The '-' is used to see what does not match, or what is uncommon between two sets.
## Here, we are taking the values of the first set, in this case 'daily_pints_logs' set, and then
## subtracting the 'other_pints_logs' set. We are printing what is in 'daily_pints_logs' that is not in
## 'other_pints_logs' set.

print(daily_pints_logs - other_pints_logs)

{32, 3, 13}

In [106]:
## The '^' is used to show what value is either in one set or the other, but not in both sets. 
## That is, it shows values that are completely unique to each of the sets.

print(daily_pints_logs ^ other_pints_logs)

{0, 32, 3, 7, 9, 43, 13, 81, 54, 23}

#### Dictionary data type or Dictionaries
Dictionaries are kind of similar to 'objects' in JavaScript in that they use 'Key/Value' pairs. 
It is created using '{ }' then the key/value pairs are places in it. Dictionaries can also house a list in it. 
Dictionaries are not accessed or called through indexing, rather using the keys. Dictionaries can also be modified.

In [115]:
## Creating a Dictionary

dict_cream = {'name': 'Pandora', 'weekly intake': 4, 'favorite creams': ['MCC', 'Vanilla','Chocolate']}

In [117]:
type(dict_cream)

dict

In [119]:
print(dict_cream)

{'name': 'Pandora', 'weekly intake': 4, 'favorite creams': ['MCC', 'Vanilla', 'Chocolate']}

In [121]:
## We can also decide that we only want to see the values of the dictionary, using 'values()'
dict_cream.values()

dict_values(['Pandora', 4, ['MCC', 'Vanilla', 'Chocolate']])

In [123]:
## We can also decide that we only want to see the keys of the dictionary, using 'keys()'
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite creams'])

In [125]:
## We can also decide that we only want to see the dictionary as a pair(key/value pair), using 'items()'
dict_cream.items()

dict_items([('name', 'Pandora'), ('weekly intake', 4), ('favorite creams', ['MCC', 'Vanilla', 'Chocolate'])])

In [128]:
## Accessing/calling a dictionary element
dict_cream['name']

'Pandora'

In [135]:
## Modifying a dictionary element
dict_cream['name'] = 'Tris'

print(dict_cream)

{'name': 'Tris', 'weekly intake': 4, 'favorite creams': ['MCC', 'Vanilla', 'Chocolate']}

In [139]:
## Updating all the elements (either the keys or the values) of a dictionary at a go, using 'update()'
## No matter what change you make to the dictionary, you can't delete a member of a dict using 'update()'.
dict_cream.update({'name': 'Tris', 'weekly intake': 5, 'weight': 250})

print(dict_cream)

{'name': 'Tris', 'weekly intake': 5, 'favorite creams': ['MCC', 'Vanilla', 'Chocolate'], 'weight': 250}

In [141]:
## Deleting elements of a dict using 'del' keyword
del dict_cream['weight']
print(dict_cream)

{'name': 'Tris', 'weekly intake': 5, 'favorite creams': ['MCC', 'Vanilla', 'Chocolate']}