# Python Series, ATA-4.

## 7. Functions.
A 'Function' is a block of code which is only run when u call it. Functions are defined using the 'def' keyword, followed by the function name and then a ( ). To call a function, we write the name and add the ( ), like so: myFunction( ).

In [4]:
## Defining a function

def first_func():
    print('the first function')

In [6]:
## Calling a function

first_func()

the first function

In [12]:
## Functions with an argument

def number_squared(number):
    print(number ** 2)

In [10]:
number_squared(2)

4

In [18]:
## Functions with multiple arguments and custom input

def number_squared_custom(number, power):
    print(number ** power)

## This function will allow us to set our number and also the power we want to raise it to

In [20]:
number_squared_custom(5,3)

125

In [22]:
## Functions with Arbitary arguments
## Arbitary arguments (denoted by '* + arg_name') are used when you don't know how many args u need to pass to the function, 
## you can specify that later when you are calling the function.

def number_args(*number):
    print(number[0] * number[1])

## Because we don't know how many args we are expecting in advance, this 'print(number[0] * number[1])' will multiply
## the number in the 0 index and the one in the 1 index.

In [28]:
number_args(2,3,5,6,8)

## Here, no 2 is at 0 index and 3 at 1 index, therefore, 2 and 3 are multiplied to give 6.

6

In [32]:
## Example - Passing a tuple as our argument to the Arbitary function above
args_tuple = (2,3,5,6,8)

number_args(*args_tuple)

## when passing a tuple into our arbitary func, we need to add a leading * before the tuple name. 
## This way, the code won't break.

6

#### Keyword Arguments and Arbitary Keyword Arguments
Keyword Arguments are used to have more control over hoe the arguments of a function are assigned.
Arbitary Keyword arguments are similar keyword argument, the diff is that it's written as an Arbitary function using two leading '**'.

In [36]:
## Keyword Arguments

def number_squared_custom(number, power):
    print(number ** power)

In [40]:
number_squared_custom(power = 5, number = 3)

## Here, without specify 'power = ' and 'number = ', 3 would've been automatically assigned to 'number' arg, and 5 to 'power' arg.

243

In [52]:
## Arbitary Keyword Arguments

def number_kwarg(**number):
    print('My number is: ' + number['integer'] + ' My other number is: ' + number['integer2'])

In [54]:
number_kwarg(integer = '3034', integer2 = '9392')

## We can pass in as many keywords ('integer') as are necessary for this function

My number is: 3034 My other number is: 9392

## 8. Converting Data Types.

In [62]:
## Converting String to Integer

num_str = '8'

## converting

num_str_converted = int(num_str)
type(num_str_converted)

int

In [66]:
## Converting List to Tuple

num_list = [1,2,3,4,5]

## converting

num_list_converted = tuple(num_list)
type(num_list_converted)

tuple

In [80]:
## Converting List to Set
## We can convert a list to a set, but it may change the actual values within it.

num_list2 = [1,23,4,5,6,1,3,4,2,3,23,5,78]

## converting

num_list2_converted = set(num_list2)
print(num_list2_converted)
type(num_list2_converted)

{1, 2, 3, 4, 5, 6, 78, 23}

set

In [90]:
## Converting a dictionary to a list

person_dict = {'name': 'Pandora', 'age': 26, 'Hair': 'N/A'}

## Converting the dictionary keys to a list

dict_keys = list(person_dict.keys())
type(dict_keys)

list

In [92]:
## Converting the dictionary values to a list

dict_keys = list(person_dict.values())
type(dict_keys)

list

In [96]:
## Converting a long string to a list. This basically splits the string into single characters.

long_str = 'I love listening to music'

long_str_converted = list(long_str)
print(long_str_converted)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'l', 'i', 's', 't', 'e', 'n', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'm', 'u', 's', 'i', 'c']

In [98]:
## Converting a long string to a set. This basically splits the string into single distinct characters.

long_str2 = 'I love listening to music'

long_str_converted2 = set(long_str2)
print(long_str_converted2)

{'m', 'e', 'i', 'g', 'u', ' ', 's', 't', 'l', 'n', 'c', 'v', 'I', 'o'}